@import '../../assets/var';

.departure-times {
  ul {
    li {
      background: $white;
      border-left: $primary solid 5px;
      margin-top: 20px;
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "dest dest . time"
        "trainInfo routeInfo routeInfo routeInfo"
        "spoor note note trans";
        color: $primary;
      * {
        margin: 0;
        display: flex;
        align-items: center;
        font-weight: normal;
      }
    }
  }

  .dest {
    grid-area: dest;
    color: $primary;
  }

  .time {
    grid-area: time;
  }

  .trainType {
    grid-area: trainInfo;
  }

  .routeInfo {
    grid-area: routeInfo;
  }

  .spoor {
    grid-area: spoor;
  }

  .trans {
    grid-area: trans;
  }

  .note {
    grid-area: note;
  }
}